@import "help";
@import "media";
@import "flex";

@mixin body($font-size: 14px, $max-width: 1240px, $side-width: 10px, $font-family: sans-serif) {
  html {
    font-size: $font-size;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
    @include media(1024) {
      font-size: 14px;
    }
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-family;
    font-size: 1rem;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .skeleton {
    @include flex-skeleton($max-width, $side-width);
  }
}

@mixin common-typography($font-family) {
  p {
    margin: 0;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: $font-family;
    line-height: 1;
  }

  img {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    height: auto;
    border: none;
    margin: 0;
    padding: 0;
  }
}

@mixin common-forms($font-family, $placeholder-color) {
  a, button, input, .pointer, label {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none;
    //user-select: none;
    //-webkit-touch-callout: none;
  }

  fieldset,
  form,
  label,
  button,
  input,
  textarea,
  option,
  select {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: $font-family;
    line-height: 1;
  }

  input {
    -webkit-appearance: none;
  }

  textarea {
    resize: none;
    line-height: 1.6;
  }

  input[type="submit"],
  input[type="button"],
  button {
    cursor: pointer;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea {
    cursor: text;
    @include placeholder(color, $placeholder-color);
    @include placeholder(font-weight, normal);
    @include placeholder(opacity, 0.7);
    @include placeholder(font-family, $font-family);
  }
}

@mixin common-classes() {
  .link,
  .button,
  .pointer {
    cursor: pointer;
  }

  .display-none {
    display: none;
  }

  .display-block {
    display: block;
  }

  .display-inline-block {
    display: inline-block;
  }

  .alignleft {
    float: left;
  }

  .alignright {
    float: right;
  }

  .aligncenter {
    display: block;
    margin: 0 auto;
  }

  .width-full {
    width: 100%;
  }

  .width-half {
    width: 50%;
  }

  .content-left {
    justify-content: flex-start;
    text-align: left;
  }

  .content-center {
    justify-content: center;
    text-align: center;
  }

  .content-right {
    justify-content: flex-end;
    text-align: right;
  }

  .underline {
    text-decoration: underline !important;
    &:hover {
      text-decoration: none !important;
    }
  }
}

@mixin common-important-classes() {
  .display-none-force {
    display: none !important;
  }

  .display-block-force {
    display: block !important;
  }

  .display-inline-block-force {
    display: inline-block !important;
  }

  .template {
    display: none !important;
  }

  .background {
    &--transparent {
      background: transparent !important;
    }
  }
}

@mixin base-light($font-family: sans-serif, $placeholder-color: #9b9b9b) {
  @include common-typography($font-family);
  @include common-classes();
  @include common-important-classes();
}

@mixin base($font-family: sans-serif, $media-points: 1200 1024 992 768 576 480 320, $placeholder-color: #acacac) {
  @include common-typography($font-family);
  @include common-forms($font-family, $placeholder-color);
  @include common-classes();
  @include common-important-classes();
  @include media-hide-visible($media-points);
}