@mixin media($width) {
  @media only screen and (max-width: $width + px) {
    @content
  }
}

@mixin media-320() {
  @include media(320){
    @content
  };
}

@mixin media-480() {
  @include media(480){
    @content
  };
}

@mixin media-576() {
  @include media(576){
    @content
  };
}

@mixin media-768() {
  @include media(768){
    @content
  };
}

@mixin media-992() {
  @include media(992){
    @content
  };
}

@mixin media-1024() {
  @include media(1024){
    @content
  };
}

@mixin media-1200() {
  @include media(1200){
    @content
  };
}

@mixin media-hide-visible($medias) {
  @each $media in $medias {
    .hide-#{$media} {
      @include media($media) {
        display: none !important;
      }
    }
    .visible-#{$media} {
      @include media(10000) {
        display: none !important;
      }
      @include media($media) {
        display: inline-block !important;
      }
    }
  }
}