@import "./mixins/init";

$main-selector: $selector;
$font-color: #000;
$font-size: 14px;
$close-size: 52px;
$bottom-padding: 40px;
$button-minimize-size1: 46%;
$button-minimize-size2: 3px;
/* style vars - begin */
$border-radius: var(--border-radius);
$background-color: var(--background-color);
$font-family: var(--font-family);
$timer-title-font-color: var(--timer-title-font-color);
$timer-font-color: var(--timer-font-color);
$code-title-font-color: var(--code-title-font-color);
$code-font-color: var(--code-font-color);
$code-code-font-color: var(--code-code-font-color);
$help-font-color: var(--help-font-color);
$close-button-color: var(--close-button-color);
$minimize-button-color: var(--minimize-button-color);
$minimize-button-background-color: var(--minimize-button-background-color);
/* style vars - end */