$s: '.digital-countdown-timer';
$timer-digit-color: var(--timer-digit-color);
$timer-digit-background-color: var(--timer-digit-background-color);

#{$s} {
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__flip {
    position: relative;
    width: 40px;
    height: 80px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .7);
    list-style: none;
    margin: 0 5px;

    > *:first-child {
      z-index: 2;
    }
  }

  &__digit {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 6px;
    overflow: hidden;

    * {
      z-index: 1;
      position: absolute;
      left: 0;
      width: 100%;
      height: 50%;
      overflow: hidden;
    }

  }

  &__animation {
    display: block;
    height: 100%;
    perspective: 200px;
  }

  &__inn {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 200%;
    font-size: 64px;
    line-height: 1;
    color: $timer-digit-color;
    text-shadow: 0 1px 2px #000;
    text-align: center;
    background-color: $timer-digit-background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &--up {
      top: 0;
    }

    &--down {
      bottom: 0;
    }
  }

  &__up {
    transform-origin: 50% 100%;
    top: 0;

    &:after {
      content: "";
      position: absolute;
      top: 40px - 1px;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 3px;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &__down {
    transform-origin: 50% 0;
    bottom: 0;
  }

  &__shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }


  #{$s}__digit {

    &--before {
      z-index: 3;

      #{$s}__up {
        z-index: 2;
        animation: turnTop .5s linear forwards;
      }

      #{$s}__shadow {
        &--up {
          background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
          animation: show .5s linear forwards;
        }

        &--down {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .1) 100%);
          animation: show .5s linear forwards;
        }
      }
    }

    &--active {
      animation: position .5s .5s linear forwards;
      z-index: 2;

      #{$s}__down {
        z-index: 2;
        animation: turnBottom .5s .5s linear forwards;
      }

      #{$s}__shadow--down {
        background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 1) 100%);
        animation: hide .5s .3s linear forwards;
      }
    }
  }

  &__delimiter {
    width: 8px;
    margin-left: 4px;
    margin-right: 4px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      background-color: $timer-digit-background-color;
      text-shadow: 0 1px 2px #000;
    }
  }

  @keyframes position {
    0% {
      z-index: 2;
    }
    5% {
      z-index: 4;
    }
    100% {
      z-index: 4;
    }
  }

  @keyframes turnBottom {
    0% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }

  @keyframes turnTop {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(-90deg);
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}