@import "../config";
@import "./digital-timer";
@import "./analog-timer";

.#{$main-selector} {
    display: block;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
    position: fixed;
    z-index: 100000000000;
    bottom: $bottom-padding;
    right: -1000000000000px;
    text-align: center;
    width: 90%;
    max-width: 328px;
    background-color: $background-color;
    box-shadow: 0 2px 11px rgba(170, 170, 170, 0.5);
    border-radius: $border-radius;
    padding: 15px 30px 45px 30px;
    @include media-480 {
        width: 92%;
        padding-left: 10px;
        padding-right: 10px;
    }
    @include media-height(479) {
        max-height: 80vh;
    }
    &--show {
        right: 25px;
        @include media-480 {
            right: 4%;
        }
    }
    &__window {
        @include media-height(479) {
            max-height: 80vh;
            overflow: hidden;
        }
    }
    &--minimize {
        bottom: $bottom-padding - 500px;
        padding-top: 0;
        padding-bottom: 0;
        height: 500px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .exit-popup__window {
            padding-top: 40px;
        }
        .exit-popup__close {
            display: none;
        }
        .exit-popup__minimize {
            top: 0;
            transform: translate(-50%, -50%);
            &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: $button-minimize-size2;
                height: $button-minimize-size1;
                background-color: $minimize-button-color;
            }
        }
    }
    * {
        font-family: $font-family;
        box-sizing: border-box;
    }
    &--show {
        display: block;
    }
    &__helper-text {
        font-size: 0.8em;
        font-weight: 700;
        color: $help-font-color;
    }
    &__title {
        font-size: 1.7em;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-top: 40px;
        &--timer {
            color: $timer-title-font-color;
        }
        &--code {
            color: $code-title-font-color;
        }
        @include media-height(479) {
            margin-top: 15px;
        }
    }
    &__description {
        font-size: 0.96em;
        letter-spacing: 0.5px;
        margin-top: 24px;
        color: $code-font-color;
        @include media-height(479) {
            margin-top: 10px;
        }
        &--attention {
            color: $timer-font-color;
            font-size: 1.2em;
            font-weight: 300;
        }
    }
    &__code {
        font-size: 2.5em;
        letter-spacing: 0.8px;
        color: $code-code-font-color;
        margin-top: 28px;
        @include media-480 {
            font-size: 2em;
        }
    }
    &__close {
        $size: 10px;
        $horizontal: $size * 1.5;
        position: absolute;
        z-index: 1;
        top: $size * 2;
        display: block;
        cursor: pointer;
        width: $size;
        height: $size;
        &--mac {
            left: $horizontal;
        }
        &--not-mac {
            right: $horizontal;
        }
        @include media-480 {
            &--mac {
                left: $horizontal/2;
            }
            &--not-mac {
                right: $horizontal/2;
            }
        }
        &:hover {
            opacity: 0.5;
        }
        &:after,
        &:before {
            position: absolute;
            content: '';
            display: block;
            width: 12px;
            height: 2px;
            background-color: $close-button-color;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
    &__minimize {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: $close-size;
        height: $close-size;
        border-radius: $close-size/2;
        background-color: $minimize-button-background-color;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 8px 12px rgba(170, 170, 170, 0.5);
        &:before {
            content: '';
            display: block;
            width: $button-minimize-size1;
            height: $button-minimize-size2;
            background-color: $minimize-button-color;
        }
    }
    &__image {
        margin-top: 25px;
        &--timer {
            img {
                height: 100px !important;
                @include media-480 {
                    height: 80px !important;
                }
            }
        }
        &--code {
            img {
                height: 118px !important;
                @include media-480 {
                    height: 98px !important;
                }
            }
        }
        img {
            margin: 0 auto !important;
            width: auto !important;
            max-width: 100% !important;
            max-height: 100% !important;
            @include media-height(479) {
                display: none !important;
            }
        }
    }
    &__footer {
        margin-top: 25px;
    }
    &__digital-clock {
        margin-top: 25px;
        margin-bottom: 25px;
        @include media-height(479) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__round-clock {
        @include media-480 {
            display: none;
        }
    }
}